In [ ]:
class Bottle:
    color = ""
    height = ""
    size = ""
    shape = ""
    cap = ""
    material = ""
    qualities = ""
    volume = ""
    price = 0
    brand = ""

In [3]:
class Polygon:
    side = 1         # attribute or class variable or field or property  
    
triangle = Polygon() # object creation
triangle.side = 3    # setting attribute value

print(Polygon)
print(triangle)
print(Polygon.side)
print(triangle.side)

<class '__main__.Polygon'>
<__main__.Polygon object at 0x000001D3A93CC590>
1
3

In [3]:
class Student:
    name = "Sharath"
    roll_no = 60
    course = "MCA"

s1 = Student()
print("Student Details:")
print(s1.name, s1.roll_no, s1.course)

Student Details:
Sharath 60 MCA

In [4]:
class Employee:
    name = "Ravi Kumar"
    emp_id = "EMP567"
    salary = 35000
    
e1 = Employee()
print("Employee Details:")
print(e1.name, e1.emp_id, e1.salary)

Employee Details:
Ravi Kumar EMP567 35000

In [ ]:
class TV:
    brand = "Samsung"
    size = 43
    price = 35000
    
t1 = TV()
print("TV Details:")
print(t1.brand, t1.size, t1.price)

In [ ]:
class Laptop:
    brand = "HP"
    processor = "Intel i5"
    ram = 16
    price = 60000

l1 = Laptop()
print("Laptop Details:")
print(l1.brand, l1.processor, l1.ram, l1.price)

In [ ]:
class Fridge:
    brand = "LG"
    capacity = 250
    energy_rating = 4
    price = 27000

f1 = Fridge()
print("Fridge Details:")
print(f1.brand, f1.capacity, f1.energy_rating, f1.price)