In [41]:
class Bottle:
    color = ""
    height = ""
    size = ""
    shape = ""
    cap = ""
    material = ""
    qualities = ""
    volume = ""
    price = 0
    brand = ""

In [42]:
class Polygon:
    side = 1         # attribute or class variable or field or property  
    
triangle = Polygon() # object creation
triangle.side = 3    # setting attribute value

print(Polygon)
print(triangle)
print(Polygon.side)
print(triangle.side)

<class '__main__.Polygon'>
<__main__.Polygon object at 0x0000026581311010>
1
3

In [43]:
class Student:
    name = "Sharath"
    roll_no = 60
    course = "MCA"

s1 = Student()
print("Student Details:")
print(s1.name, s1.roll_no, s1.course)

Student Details:
Sharath 60 MCA

In [44]:
class Employee:
    name = "Ravi Kumar"
    emp_id = "EMP567"
    salary = 35000
    dept = "IT"
    
e1 = Employee()
print("Employee Details:")
print(e1.name, e1.emp_id, e1.salary, e1.dept)

Employee Details:
Ravi Kumar EMP567 35000 IT

In [45]:
class TV:
    brand = "Samsung"
    size = 43
    price = 35000
    
t1 = TV()
print("TV Details:")
print(t1.brand, t1.size, t1.price)

TV Details:
Samsung 43 35000

In [46]:
class Laptop:
    brand = "HP"
    processor = "Intel i5"
    ram = 16
    price = 60000

l1 = Laptop()
print("Laptop Details:")
print(l1.brand, l1.processor, l1.ram, l1.price)

Laptop Details:
HP Intel i5 16 60000

In [47]:
class Fridge:
    brand = "LG"
    capacity = 250
    energy_rating = 4
    price = 27000

f1 = Fridge()
print("Fridge Details:")
print(f1.brand, f1.capacity, f1.energy_rating, f1.price)

Fridge Details:
LG 250 4 27000

### NO Constructor

In [48]:
class Area:
     len = 0
     brd = 0
     def calc(self):
         ans = self.len * self.brd
         return ans

### Constructor Example

In [49]:
class Area2:
    def __init__(self, l, b):
        self.len = l
        self.brd = b
    def calc(self):
        ans = self.len * self.brd
        return ans

In [50]:
o1 = Area()
o1.len = 5
o1.brd = 4
res1 = o1.calc()
print(o1.len, o1.brd, res1)

5 4 20

In [51]:
o2 = Area()
o2.len = 5
o2.brd = 6
res2 = o2.calc()
print(o2.len, o2.brd, res2)

5 6 30

In [52]:
o3 = Area()
o3.len = 7
o3.brd = 8
res3 = o3.calc()
print(o3.len, o3.brd, res3)

7 8 56

In [54]:
o4 = Area2(5,4)
print(o4.len, o4.brd, o4.calc())

5 4 20