In [3]:
a = 'apple'
b = "banana"
c = '''This is 
        Chocolate 
        Cake'''
d = """date"""
print(a,b,c,d)

apple banana This is
        Chocolate
        Cake date

In [2]:
#Typecasting
x = str(10)
y = str(["apple", "banana", "cherry"])
print(x, type(x))
print(y, type(y))

10 <class 'str'>
['apple', 'banana', 'cherry'] <class 'str'>

In [6]:
#Slicing & Indexing
a = 'apple'
print(a[0])

a

In [11]:
x = 'disappointed'
y = x[5:10]
print(f"the {y} is, I am not {x}")

the point is, I am not disappointed

In [ ]:
poem = ''' Johnny Johnny yes papa
            Eating Sugar no papa
            Telling lies no papa
            Open your Mouth HA HA HA '''
x = poem[:23]
print(x)

 Johnny Johnny yes papa

In [14]:
#Functions in Strings
#formatting
s = "Maintain Silence in Library"
supper = s.upper()
lower = s.lower()
cap = s.capitalize()
title = s.title()
swap = s.swapcase()
casefold = s.casefold()
print(casefold)
print(title)
print(lower)
print(supper)
print(cap)
print(swap)

maintain silence in library
Maintain Silence In Library
maintain silence in library
MAINTAIN SILENCE IN LIBRARY
Maintain silence in library
mAINTAIN sILENCE IN lIBRARY

In [ ]:
#Formatting
a = "Seven"
al = a.ljust(10)
a2 = a.ljust(20,'*')
ar = a.rjust(10)
ar1 = a.rjust(20,'#')
ac = a.center(20)
ac1 = a.center(30,'$')
print(al,a2,ar,ar1,ac,ac1,sep="\n")

Seven
Seven***************
     Seven
###############Seven
       Seven
$$$$$$$$$$$$Seven$$$$$$$$$$$$$

In [ ]:
#validation
x = input("Enter something: ")
print(x.isalpha())
print(x.isalnum())
print(x.isdigit()) 
print(x.isspace())

False
False
False
False

In [42]:
s = input("Enter something: ")
s1 = s.startswith("a")
s2 = s.startswith("Hello")
s3 = s.endswith("Hello")
s4 = s.find("Hello")
print(s1,s2,s3,s4, sep="\n")

True
False
True
1

In [3]:
#Utility Methods
s = "Once upon a time"
s2 = s.replace("Once", "Twice") 
print(s,s2)
s3 = s.replace("a", "the")
print(s3)

Once upon a time Twice upon a time
Once upon the time

In [5]:
#Replace for removing a content
data = 'py*t*h*o*n'
data2 = data.replace('*','')
print(data, data2, sep ="\n")

py*t*h*o*n
python

In [16]:
#find and index
s = "Hello, welcome to my world."
print(s.find("welcome"))
print(s.find("w", 8))

7
21

In [ ]:
# split and join

s = '''Hello, welcome to my world. 
        Have a great day.'''

words = s.split()                   #default separator is space
words2 = s.split('.')               #separator is dot i.e. delimeter
print(s, words, words2, sep="\n")

Hello, welcome to my world.
        Have a great day.
['Hello,', 'welcome', 'to', 'my', 'world.', 'Have', 'a', 'great', 'day.']
['Hello, welcome to my world', ' \n        Have a great day', '']

In [49]:
address = ['MBU', 'Tirupati', 'AP', '517102', 'India']
full_address = ', '.join(address)
full_address1 = '\n'.join(address)
full_address2 = 'what'.join(address)
full_address3 = '-'.join(address)
print(address, full_address, full_address1, full_address2,full_address3,  sep="\n")

['MBU', 'Tirupati', 'AP', '517102', 'India']
MBU, Tirupati, AP, 517102, India
MBU
Tirupati
AP
517102
India
MBUwhatTirupatiwhatAPwhat517102whatIndia
MBU-Tirupati-AP-517102-India